*
{
    margin-top: 0px;
}
.MainHeader {
    text-align: center;
    font-size: 18px;
    background-color: rgb(127, 197, 197);
    padding-top: 15px; 
     padding-bottom: 20px;
    margin-top: 0px;
}
.font-link{
    font-family: Shantell Sans;
}